<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link href="css/shoppingcart.css" rel="stylesheet">
</head>
<body>
<div><header><span>HOME</span><span>STORE</span><span>ABOUT</span></header></div>
<div><h2>Welcome to Lucy's store</h2></div>
<div class="shop-items">
    <div class="shop-item">
     <span class="shop-item-title">handbag</span>
        <img class="shop-item-image" src="images/handbag.png">
        <div class="shop-item-detail"></div>
        <span class="shop-item-price">$3999</span>
        <button class="btn btn-primary shop-item-button" type="button">Add to cart</button>
    </div>
    <div class="shop-item">
        <span class="shop-item-title">shoes</span>
        <img class="shop-item-image" src="images/shoes.png">
        <div class="shop-item-detail"></div>
        <span class="shop-item-price">$255</span>
        <button class="btn btn-primary shop-item-button" type="button">Add to cart</button>
    </div>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th scope="col">Product</th>
            <th scope="col">Name</th>
            <th scope="col">Qty</th>
            <th scope="col">Price</th>
            <th scope="col">Amount</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><img src="images/handbag.png" width="50px" height="50px" ></td>
            <td>handbag</td>
            <td>
                <button class="button1" id="button1">+</button>
                <input type="number" class="quantity" id="quantity" min="0">
                <button class="button2" id="button2">-</button>
            </td>
            <td><input class="price" id="price" value="30" readonly></td>
            <td>
                <input type="number" class="amount" id="amount" readonly>
            </td>
        </tr>

        <tr>
            <td><img src="images/shoes.png" width="50px" height="50px" ></td>
            <td>shoes</td>
            <td>
                <button class="button1" id="button3">+</button>
                <input type="number" class="quantity" id="quantity">
                <button class="button2" id="button4">-</button>
            </td>
            <td><input class="price" id="price" value="199" readonly></td>
            <td>
                <input type="number" class="amount" id="amount" readonly>
            </td>
        </tr>

        </tbody>
    </table>

</div>
<div>
    <p>total<input type="number" id="total" readonly></p>
</div>





<script src="js/shoppingcart.js"></script>
</body>
</html>